<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="parte1">
            <p class="navbar-brand">
                <span class="empresa">GuardeAqui<br /></span>
                <span class="servico">Sistema de Armazenamento de Arquivos</span>
            </p>
        </div>
        <div class="parte2 servico">
            <span>{{user.displayName}} <i class="far fa-user-circle"></i></span>
        </div>
        <div class="parte3">
            <a class="btn btn-outline-secondary" href="/logout">Logout</a>
        </div>
    </nav>
</header>

<div class="frame">
    <div class="areaupload">
        <i class="fas fa-plus"></i>
        <p id="drop"> Arraste o arquivo aqui </p>
    </div>
</div>