<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="parte1">
            <p class="navbar-brand">
                <span class="empresa">GuardeAqui<br /></span>
                <span class="servico">Sistema de Armazenamento de Arquivos</span>
            </p>
        </div>
        <div class="parte2 servico">
            <span>{{user.displayName}} <i class="far fa-user-circle"></i></span>
        </div>
        <div class="parte3">
            <a class="btn btn-outline-secondary" href="/logout">Logout</a>
        </div>
    </nav>
</header>

<div class="frame">
    <div id="areaupload">
        <i class="fas fa-plus"></i>
        <p id="drop"> Arraste o arquivo aqui </p>
    </div>
</div>

<div class="salvar">
    <button type="button" class="btn btn-secondary btn-sm btn-block">Armazenar Arquivo</button>
</div>

<div class="lista">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="col-arquivo" scope="col">Arquivos</th>
                <th class="lixo" scope="col-remover">Remover</th>
            </tr>
        </thead>
        <tbody id="tabela">
            <tr>
                <td>Mark</td>
                <td class="lixo"><i class="fas fa-trash-alt"></i></td>
            </tr>
        </tbody>
    </table>
</div>