<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{user.displayName}},</h1>
    <h2>Bem Vindo ao {{user.provider}}!</h2>

    <a href="/logout">Logout</a>
  </body>
</html>